@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2a306d;
  --secondary: #e68b5d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
